/*css code to create a flag out of white lines to complete the logo */
.line1 {
	width: 50%;
	height: 50px;
	margin-top: 200px;
	margin-left: 80px;
	position: absolute;
}
.wrap {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  position: relative;
}

.line {
  height: 1px;
  background-color: #e9e9ed;
  padding: 1px;
}
/* code to rotate the lines to the correct position */
.left_rotate {
  -ms-transform: rotate(80deg);
  -webkit-transform: rotate(80deg);
  transform: rotate(80deg);
}

.right_rotate {
	width: 55%;
	margin-top: -75px;
	margin-left: 142px;
  -ms-transform: rotate(-54deg);
  -webkit-transform: rotate(-54deg);
  transform: rotate(-54deg);
}
.top_rotate{
	width: 43%;
	margin-top: -97px;
	margin-left: 145px;
  -ms-transform: rotate(190deg);
  -webkit-transform: rotate(190deg);
  transform: rotate(190deg);
}
