/*
this will be for the borders so players cant go off screen and any walls in the map
so we can display it and add collision code
*/
Border{
  height: 100px;
  width: 1000px;
  box-sizing: border-box;
  outline: 5px solid white;
  position : relative;
  background-color : #000000;
}
/*class which creates a white dashed line in the middle of the screen */
.dashed-lines {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 2px dashed white;
}

.verticle-wall {
  border-left: 3px solid white;
  height: 10vh;
  position:absolute;
  left: 15%;
  top: 75px;
}
